*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --blue: #3882F6;
    --dark: #1F2937;
    --light-main: #F9FAF8;
    --light-secondary: #d0d2d6;

    --green-subtle: #F1F7ED;
    --green-light: #E0EEC6;
    --green-dark: #7CA982;
    --green-void: #243E36;
    --green-void-var: #24423a;

    --palette5-1: #C2A83E;
    --palette5-2: #AC8887;
    --palette5-3: #9A8C98;

    --space-1: 8px;
    --space-2: 16px;
    --space-3: 32px;
    --space-4: 64px;

    --font-small: 12px;
    --font-medium: 16px;
    --font-large: 24px;
    --font-enormous: 36px;

    --font-light: 300;
    --font-norm: 400;
    --font-bold: 600;
    --font-thicc: 900;
}



/* TYPES */
html {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    color: var(--green-subtle);
    text-decoration: none;
}

button {
    width: 180px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    font-weight: var(--font-bold);
    font-size: var(--font-medium);
}
/* TYPES */



/* SHARED CLASSES */
.wrapper {
    max-width: 1000px;
    margin: auto;
}
/* SHARED CLASSES */



/* CLASSES */

/* head section */
.head-section {
    background-color: var(--green-void-var);
    padding: var(--space-3) clamp(var(--space-3), 5vw, 160px);
}

.head-section .section {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

.header {
    display: flex;
    width: 100%;
}

.header-logo {
    color: var(--green-light);
    margin-right: auto;
}

.header-links {
    display: flex;
    gap: var(--space-3);
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-3);
    min-height: 250px;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}

.hero-title {
    font-size: var(--font-enormous);
    font-weight: var(--font-thicc);
    color: var(--green-light);
}

.hero-text {
    font-size: var(--font-medium);
    color: var(--green-subtle);
}

.hero-btn {
    color: var(--green-void);
    background-color: var(--green-dark);
    border: 3px solid transparent;
    transition: 300ms ease-in;
}

.hero-btn:hover {
    border-color: var(--green-light);
}

.hero-svg {
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    aspect-ratio: 16/9;
    width: 400px;
    background-image: url("./images/stacked-waves.svg");
}

.hero-img {
    width: 300px;
    height: auto;
    object-fit: cover;
}
/* head section */



/* info section */
.info-section {
    background-color: var(--green-subtle);
    padding: var(--space-3) clamp(var(--space-3), 5vw, 160px);
}

.info-section .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-2)
}

.info-title {
    color: var(--green-void);
    font-size: var(--font-large);
    font-weight: var(--font-thicc);
    /*margin-bottom: var(--space-2);
    text-align: center;*/
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-3);
}

.item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
    align-items: center;
}

.item-text {
    color: var(--green-void);
    text-align: center;
}

.item-img {
    width: 180px;
    height: 180px;

    object-fit: cover;
    border-image: linear-gradient(45deg, hsla(162, 27%, 19%, 1) 20%, hsla(142, 19%, 37%, 1) 50%, hsla(128, 21%, 57%, 1) 100%) 30;
    border-width: 8px;
    border-style: outset;

    /*
    background: hsla(162, 27%, 19%, 1);

    background: linear-gradient(45deg, hsla(162, 27%, 19%, 1) 20%, hsla(142, 19%, 37%, 1) 50%, hsla(128, 21%, 57%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(162, 27%, 19%, 1) 20%, hsla(142, 19%, 37%, 1) 50%, hsla(128, 21%, 57%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(162, 27%, 19%, 1) 20%, hsla(142, 19%, 37%, 1) 50%, hsla(128, 21%, 57%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#243E36", endColorstr="#4D705A", GradientType=1 );
    */
}
/* info section */



/* quote section */
.quote-section {
    background-color: var(--green-light);
    padding: var(--space-3) clamp(var(--space-3), 5vw, 160px);
}

.quote-section .section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

.quote-text {
    color: var(--green-void-var);
    font-size: var(--font-large);
    font-weight: var(--font-light);
    font-style: italic;
}

.quote-author {
    align-self: flex-end;
    color: var(--green-void);
    font-size: var(--font-medium);
    font-weight: var(--font-thicc);
}
/* quote section */



/* form section */
.form-section {
    background-color: var(--green-subtle);
    padding: var(--space-4) clamp(var(--space-3), 5vw, 160px);
}

.form-section .section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-title {
    font-size: var(--font-medium);
    color: var(--green-light);
}

.form-text {
    font-size: var(--font-small);
    color: var(--green-subtle);
}

.form-btn {
    color: var(--green-void);
    background-color: var(--green-dark);
    border: 3px solid transparent;
    transition: 300ms ease-in;
}

.form-btn:hover {
    border-color: var(--green-light);
}

.form-container {
    border-radius: 5px;
    width: 50%;
    padding: var(--space-2);
    background-color: var(--green-void-var);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-2);
}

.form-info {
    display: flex;
    flex-direction: column;
    gap: var(--space-1);
}
/* form section */



/* footer section */
.footer-section {
    color: var(--green-light);
    font-size: var(--font-small);
    height: 50px;
    background-color: var(--green-void);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* footer section */

/* CLASSES */